.recovery_container {
    height: 100%;
      .login_colm {
            display: block;
            }
      .login_colm {
            width: 388px;
      .reset_icon{
            background-image: url("https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png");
            background-position: -130px 0;
            height: 96px;
            width: 96px;
            margin: 35px auto 10px;
            }
            .reset_title{
                  h4{
                        font-size: 18px;
                        font-weight: 600;
                        color: #262626;
                  }
            }
            .reset_text{
                  p{
                        font-size: 14px;
                        font-weight: 400;
                        color: #8e8e8e;
                  }
            }
            .unable_sent_link_text{
                  font-size: 12px;
                  color: #262626;
                  text-align: center;
                  text-decoration: none;
                  a:visited{
                        color: #00376b;
                  }
            }
            .dissable{
                  background-color: rgba(0,149,246,.3);
                  border: 1px solid transparent;
                  border-radius: 4px;
                  color: #fff;
                  pointer-events: none;
            }
            .success{
                  background-color: #0095f6;
                  border: 1px solid transparent;
                  border-radius: 4px;
                  color: #fff;
            }

      }
}



